## General

yes-receive-emails = დიახ, გამომიგზავნეთ წერილები ელფოსტაზე. მსურს მუდმივად მეცნობოს Common Voice პროექტთან დაკავშირებული სიახლეების შესახებ.
stayintouch = ჩვენ, Mozilla-ში ვცდილობთ შევკრიბოთ დიდი ერთობა ხმოვანი ტექნოლოგიების გარშემო. გვსურს დავრჩეთ კავშირზე განახლებებით, მონაცემთა ახალი წყაროებით და მოვისმინოთ, თუ როგორ გადგებათ ეს მონაცემები.
privacy-info = ჩვენ გპირდებით, რომ თქვენს პირად ინფორმაციას სიფრთხილით მოვეკიდებით. ვრცლად, იხილეთ ჩვენი <privacyLink>პირადი მონაცემების დაცვის განაცხადი</privacyLink>.
return-to-cv = Common Voice-ზე დაბრუნება
email-input =
    .label = ელფოსტა
submit-form-action = გადაგზავნა
loading = იტვირთება...

# Don't rename the following section, its contents are auto-inserted based on the name (see scripts/pontoon-languages-to-ftl.js)
# [Languages]


## Languages

as = ასამური
az = აზერბაიჯანული
bn = ბენგალური
br = ბრეტონური
ca = კატალანური
cs = ჩეხური
cv = ჩუვაშური
cy = უელსური
da = დანიური
de = გერმანული
el = ბერძნული
en = ინგლისური
es = ესპანური
et = ესტონური
fi = ფინური
fr = ფრანგული
fy-NL = ფრიზული
ga-IE = ირლანდიური
he = ებრაული
hsb = ზემოსორბული
hu = უნგრული
id = ინდონეზიური
is = ისლანდიური
it = იტალიური
ja = იაპონური
ka = ქართული
kab = კაბილური
kk = ყაზახური
ko = კორეული
kpv = კომი
kw = კორნული
ky = ყირგიზული
mk = მაკედონური
nb-NO = ნორვეგიული ბუკმოლი
ne-NP = ნეპალური
nl = ნიდერლანდური
nn-NO = ნორვეგიული/ნინორსკი
or = ორია
pl = პოლონური
pt-BR = პორტუგალიური (ბრაზილია)
ro = რუმინული
ru = რუსული
sah = სახა
sk = სლოვაკური
sl = სლოვენური
sq = ალბანური
sr = სერბული
sv-SE = შვედური
ta = ტამილური
te = ტელუგუ
th = ტაილანდური
tr = თურქული
tt = თათრული
uk = უკრაინული
uz = უზბეკური
zh-CN = ჩინური (ჩინეთი)
zh-HK = ჩინური (ჰონგ-კონგი)
zh-TW = ჩინური (ტაივანი)

# [/]


## Layout

speak = ჩაწერა
speak-now = დაილაპარაკეთ
datasets = კრებული
languages = ენები
profile = პროფილი
help = დახმარება
contact = დაკავშირება
privacy = პირადულობა
terms = პირობები
cookies = ფუნთუშები
faq = ხ.დ.კ.
content-license-text = მასალა ხელმისაწვდომია <licenseLink>Creative Commons ლიცენზიით</licenseLink>
share-title = დაგვეხმარეთ ხალხის მოძიებაში, რომლებიც შემოგვწირავენ თავიანთ ხმას!
share-text = დაგვეხმარეთ, რომ შევასწავლოთ მანქანებს, თუ როგორ საუბრობენ ადამიანები, მოგვაწოდეთ თქვენი ხმის ჩანაწერები შემოწირულობის სახით { $link }
back-top = დასაწყისში დაბრუნება

## Home Page

home-title = Common Voice პროექტი არის Mozilla-ს წამოწყება, რომ შევასწავლოთ მანქანებს, თუ როგორ საუბრობენ სინამდვილეში ადამიანები.
home-cta = დაილაპარაკეთ, შეიტანეთ თქვენი წვლილი!
wall-of-text-start = ხმა არის ბუნებრივი, ხმა არის ადამიანური. სწორედ ეს გვხიბლავს, როცა ვქმნით ხმოვან ტექნოლოგიებს მანქანებისთვის. თუმცა, ხმოვანი სისტემის შესაქმნელად, ძალიან დიდი ოდენობის ხმოვანი ჩანაწერია საჭირო.
wall-of-text-more-mobile = მსხვილი კომპანიების მიერ გამოყენებული მონაცემები, არაა ხელმისაწვდომი ხალხის დიდი ნაწილისთვის. ჩვენ ვფიქრობთ, რომ ეს აფერხებს განვითარებას და სიახლეების დანერგვას. სწორედ ამიტომაც გავუშვით პროექტი Common Voice, რომ ხმის ამოცნობის ტექნოლოგიები გაგვეხადა საყოველთაოდ ხელმისაწვდომი.
wall-of-text-more-desktop =
    ახლა, შეგიძლიათ მოგვაწოდოთ თქვენი ხმის ჩანაწერი შემოწირულობის სახით, ღია წყაროს მქონე, ხმოვან მონაცემთა საცავის შესაქმნელად, რომლის გამოყენებაც ნებისმიერს შეეძლება ახალი პროგრამების შესამუშავებლად მოწყობილობებისა და ინტერნეტისთვის.<lineBreak></lineBreak>
    წაიკითხეთ წინადადება და დაგვეხმარეთ რომ შევასწავლოთ მანქანებს, თუ როგორ საუბრობენ სინამდვილეში ადამიანები. შეამოწმეთ სხვა მოხალისეების ნამუშევრებიც, ხარისხის გასაუმჯობესებლად. ძალიან მარტივია!
show-wall-of-text = იხილეთ ვრცლად
help-us-title = დაგვეხმარეთ წინადადების შემოწმებაში!
help-us-explain = დააწექით გაშვებას, მოუსმინეთ და მოგვახსენეთ: სწორად იყო თუ არა გახმოვანებული ქვემოთ მოცემული წინადადება?
no-clips-to-validate = როგორც ჩანს, ჩანაწერები არაა მოსასმენად ამ ენისთვის. დაგვეხმარეთ მათ შექმნაში და თავად ჩაწერეთ რამდენიმე.
vote-yes = დიახ
vote-no = არა
toggle-play-tooltip = დააწექით { shortcut-play-toggle } ღილაკს, გაშვების რეჟიმის გადასართავად

## Speak & Listen Shortcuts

# Must be one letter that appears in the translated { skip } string.
shortcut-skip = ო

## Listen Shortcuts

# Must be one letter that appears in the translated play-string inside of { shortcut-play-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-play-toggle = გ
shortcut-play-toggle-label = გაშვება/შეწყვეტა
# Must be one letter that appears in the { vote-yes } string.
# Must be different from { shortcut-skip }, { shortcut-vote-no } and { shortcut-play-toggle }
shortcut-vote-yes = დ
# Must be one letter that appears in the { vote-no } string.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-play-toggle }
shortcut-vote-no = ა

## Speak Shortcuts

# Must be one letter that appears in the translated record-string inside of { shortcut-record-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-record-toggle = ჩ
shortcut-record-toggle-label = ჩაწერა/შეწყვეტა
request-language-text = ვერ იპოვეთ თქვენი ენა Common Voice-ში?
request-language-button = მოითხოვეთ ენის დამატება

## ProjectStatus

status-title = მთლიანი პროექტის მიმდინარე მდგომარეობა: ნახეთ, რაოდენ წინ წავიწიეთ!
status-contribute = ჩაწერეთ თქვენი ხმა
status-hours =
    { $hours ->
        [one] ჯერჯერობით, ერთი საათია შემოწმებული!
       *[other] ჯერჯერობით, { $hours } საათია შემოწმებული!
    }
# Variables:
# $goal - number of hours representing the next goal
status-goal = შემდეგი მიზანია: { $goal }
english = ინგლისური

## ProfileForm

profile-form-cancel = დახურვა
profile-form-delete = პროფილის წაშლა
profile-form-username =
    .label = მომხმარებლის სახელი
profile-form-language =
    .label = ენა
profile-form-accent =
    .label = აქცენტი
profile-form-age =
    .label = ასაკი
profile-form-gender =
    .label = სქესი
profile-form-submit-save = შენახვა
profile-form-submit-saved = შენახულია
profile-keep-data = მონაცემების დატოვება
profile-delete-data = მონაცემების წაშლა
male = მამრობითი
female = მდედრობითი
# Gender
other = სხვა
why-profile-title = რა საჭიროა პროფილი?
why-profile-text = თქვენ შესახებ გარკვეული ინფორმაციის მოწოდებით, თქვენ მიერ გადმოგზავნილი ჩანაწერები Common Voice-ში, მეტად გამოსადეგი იქნება იმ ხმოვანი ამოცნობის სისტემებისთვის, რომლებიც ამ მონაცემებს სიზუსტის გასაუმჯობესებლად იყენებს.
edit-profile = პროფილის ჩასწორება
profile-create = პროფილის შექმნა
profile-create-success = პროფილი წარმატებით შეიქმნა!
profile-close = დახურვა
profile-clear-modal = პროფილის მონაცემების გასუფთავების შედეგად, თქვენი შესახებ მითითებული მონაცემები აღარ გადაიგზავნება Common Voice-ში, თქვენს ხმოვან ჩანაწერთან ერთად.
profile-explanation = თვალი ადევნეთ თქვენ მიერ შეტანილ წვლილსა და დაგვეხმარეთ ხმოვანი მონაცემების სიზუსტის გაუმჯობესებაში, პროფილის შექმნით.

## FAQ

faq-title = ხშირად დასმული კითხვები
faq-what-q = რა არის Common Voice?
faq-what-a = ხმოვანი ამოცნობის ტექნოლოგიებს შეუძლია გადატრიალების მოხდენა, ადამიანის მანქანასთან ურთიერთობაში, მაგრამ დღესდღეობით ხელმისაწვდომი სისტემები მეტად ძვირია და კერძო საკუთრებას წარმოადგენს. Common Voice არის პროექტი, რომლის მიზანია, რომ ხმოვანი ამოცნობის ტექნოლოგიები, მარტივად ხელმისაწვდომი გახდეს ყველასთვის. ხალხი შემოწირულობის სახით აგზავნის საკუთარი ხმის ჩანაწერებს, ერთ დიდ მონაცემთა ბაზაში, რომელიც საშუალებას მისცემს ყველას, მარტივად განავითარონ თავიანთი ხმოვანი ტექნოლოგიების მქონე პროგრამები. ხმოვანი მონაცემები სრულად იქნება ხელმისაწვდომი შემმუშავებლებისთვის.
faq-important-q = რატომაა ეს მნიშვნელოვანი?
faq-important-a = ხმა არის ბუნებრივი, ხმა არის ადამიანური. ესაა ყველაზე მარტივი და ბუნებრივი საშუალება ურთიერთობისთვის. ჩვენ გვსურს, რომ შემმუშავებლებს შესაძლებლობა ჰქონდეთ შექმნან საოცარი პროგრამები, პირდაპირ რეჟიმში თარგმნის ხელსაწყოებიდან დაწყებული, ხმოვანი თანაშემწეებით დამთავრებული. მაგრამ ამჟამად, არაა საკმარისი მონაცემები საჯაროდ ხელმისაწვდომი, ასეთი სახის პროგრამების შესაქმნელად. ჩვენ ვიმედოვნებთ, რომ Common Voice მისცემს შემმუშავებლებს შესაძლებლობას, დანერგონ სიახლეები.
faq-get-q = როგორ მივიღო Common Voice მონაცემები?
faq-get-a = მონაცემთა კრებული ამჟამად ხელმისაწვდომია ჩვენს <downloadLink>ჩამოტვირთვის გვერდზე</downloadLink> <licenseLink>CC-0</licenseLink> ლიცენზიით.
faq-mission-q = რატომაა Common Voice Mozilla-ს უმაღლესი მიზნის ნაწილი?
faq-mission-a = Mozilla იღწვის ინტერნეტის გახსნილობისა და საყოველთაო ხელმისაწვდომობისთვის. ამისთვის კი საჭიროა ვებშემმუშავებლების მხარდაჭერა და მოძლიერება ისეთი პროექტების საშუალებით, როგორიცაა Common Voice. გამომდინარე იქიდან, რომ ხმოვანი ტექნოლოგიები თანდათან ანაცვლებს ჩვეულებრივ პროგრამებს, მიგვაჩნია, რომ იგი ყველა მომხმარებლისთვის, თანაბრად უნდა იყოს ხელმისაწვდომი. ჩვენ ვხედავთ რომ საჭიროა, მეტი ენის, აქცენტისა და დემოგრაფიული თავისებურებების გათვალისწინება, ხმოვანი ტექნოლოგიების დამუშავებისა და გამოცდისთვის. Mozilla-ს სურს რომ ინტერნეტი გახდეს ჯანსაღი და მეტად ძლიერი. ეს გულისხმობს იმას, რომ ახალ შემმუშავებლებსა და გამომგონებლებს, წვდომა უნდა ჰქონდეთ ხმოვან მონაცემებთან იმისთვის, რომ დანერგონ სიახლეები და შექმნან გამორჩეული პროექტები. Common Voice იქნება საჯაროდ ხელმისაწვდომი რესურსი, რომელიც გამოადგება Mozilla-ში მომუშავე გუნდებსა და შემმუშავებლებს, მთელ მსოფლიოში.
faq-native-q = ჩემთვის არაა { $lang } მშობლიური ენა და ვსაუბრობ აქცენტით, მაინც გამოგადგებათ ჩემი ხმის ჩანაწერი?
faq-native-a = დიახ, ჩვენ სწორედაც რომ თქვენი ხმის ჩანაწერი გვესაჭიროება! Common Voice-ის მიზანია, რაც შეიძლება მეტი განსხვავებული აქცენტის შეგროვება, რომ კომპიუტერულმა სისტემებმა უკეთ შეძლოს <bold>თითოეული</bold> ადამიანის საუბრის გაგება.
faq-firefox-q = გახდება ოდესმე წარმოთქმულის ტექსტად ქცევის ტექნოლოგია, Common Voice-ის საშუალებით, Firefox-ის ნაწილი?
faq-firefox-a = Common Voice-ს გააჩნია შეუზღუდავი შესაძლებლობები და ჩვენ ნამდვილად ვიკვლევთ ხმოვანი ტექნოლოგიების Mozilla-ს მრავალ პროდუქტში დანერგვის გზებს, მათ შორის Firefox-შიც.
faq-quality-q = როგორი ხარისხის ხმოვანი ჩანაწერია გამოსადეგი?
faq-quality-a = ჩვენ გვესაჭიროება ისეთი ხარისხის ხმოვანი ჩანაწერები, როგორი ხარისხითაც ხდება ხმოვანი მონაცემების შეყვანა, შესაბამისი ტექნოლოგიებით სარგებლობისას. ანუ, სხვადასხვა ხარისხის. ამის შედეგად, ხმის ამომცნობ სისტემებს შეეძლება მონაცემების აღქმა, განსხვავებულ გარემო პირობებში—ხმაურისას, ხალხმრავლობისას, ტრანსპორტით მგზავრობისას—შეცდომების გარეშე.
faq-hours-q = რატომაა მიზანი, ჯამში 10,000 საათიანი ხმოვანი ჩანაწერის მიღება?
faq-hours-a = ესაა მიახლოებითი ოდენობა საათების, რომელიც აუცილებელია STT სისტემის ასამუშავებლად.
faq-source-q = მოცემული ტექსტები საიდანაა აღებული?
faq-source-a1 = წინადადებები მოგვაწოდეს მოხალისეებმა, ასევე გამოყენებულია საუბრის მონაკვეთები, საყოველთაო საკუთრებაში არსებული ფილმებიდან, როგორიცაა მაგალითად <italic>„ეს მშვენიერი ცხოვრება“.</italic>
faq-source-a2 = მოცემული წინადადებების წყაროები, შეგიძლიათ იხილოთ ჩვენს <dataLink>GitHub საქაღალდეში</dataLink>.

## Profile

profile-why-title = რა საჭიროა პროფილი?
profile-why-content = თქვენ შესახებ გარკვეული ინფორმაციის მოწოდებით, თქვენ მიერ გადმოგზავნილი ჩანაწერები Common Voice-ში, მეტად გამოსადეგი იქნება იმ ხმოვანი ამოცნობის სისტემებისთვის, რომლებიც ამ მონაცემებს სიზუსტის გასაუმჯობესებლად იყენებს.

## NotFound

notfound-title = ვერ მოიძებნა
notfound-content = სამწუხაროდ, ვერ მოინახა, რასაც ეძებდით.

## Data

data-download-button = Common Voice მონაცემების ჩამოტვირთვა
data-download-yes = დიახ
data-download-deny = არა
data-download-license = ლიცენზია: <licenseLink>CC-0</licenseLink>
data-download-modal = თქვენ აპირებთ <size>{ $size }გბ</size> მოცულობის მონაცემების ჩამოტვირთვას, გსურთ განაგრძოთ?
data-subtitle = ჩვენ ვქმნით ღია და საჯაროდ ხელმისაწვდომ ხმოვან მონაცემთა კრებულს, რომლის გამოყენებაც ნებისმიერს შეეძლება ხმოვანი ტექნოლოგიების მქონე პროგრამების მუშაობის გაუმჯობესებისთვის.
data-explanatory-text = ჩვენ მიგვაჩნია, რომ დიდი და საჯაროდ ხელმისაწვდომი ხმოვან ჩანაწერთა კრებულები ხელს შეუწყობს სიახლეების გამოგონებასა და ჯანსაღ კონკურენციას, ხმოვანი ტექნოლოგიების სფეროში. ესაა საერთაშორისო ძალისხმევა და ჩვენ ვიწვევთ ყველას, მონაწილეობის მისაღებად. ჩვენი მიზანია, რომ ხმოვანი ამოცნობის სისტემები გახდეს მეტად საყოველთაო და შეეძლოს ყველანაირი სახის ხმის ამოცნობა, მთელი მსოფლიოს მასშტაბით.
data-get-started = <speechBlogLink>მუშაობის დაწყება, ხმის ამოცნობის სისტემაზე</speechBlogLink>
data-other-title = ხმოვანი მონაცემების სხვა კრებულები...
data-other-goto = { $name }-ზე გადასვლა
data-other-download = მონაცემების ჩამოტვირთვა
data-other-librispeech-description = LibriSpeech წარმოადგენს დაახლოებით 1000 საათიან, 16Khz ხმოვანი ჩანაწერების კრებულს, LibriVox პროექტის ხმოვანი წიგნებიდან.
data-other-ted-name = TED-LIUM კრებული
data-other-ted-description = TED-LIUM ხმოვანი საუბრებისა და სამეტყველო ბგერებისგანაა შედგენილი, რომელიც TED ვებსაიტზე იყო ხელმისაწვდომი.
data-other-voxforge-description = VoxForge იყო სამეტყველო ბგერათა ხმოვანი კრებული, უფასო და ღია წყაროს ხმოვანი ამოცნობის სისტემებისთვის შექმნილი.
data-other-tatoeba-description = Tatoeba არის დიდი მონაცემთა კრებული წინადადებების, თარგმანის, საუბრის ჩანაწერების, ენის შესწავლისთვის გამოსაყენებლად. ეს ჩამოტვირთვა შეიცავს ინგლისურად მოსაუბრეთა ჩანაწერებს, მათი ერთობიდან.
data-bundle-button = მონაცემთა კრებულის ჩამოტვირთვა
data-bundle-description = Common Voice მონაცემებს დამატებული, ზემოთ მოცემული ხმოვან მონაცემთა ყველა სხვა კრებული.
license = ლიცენზია: <licenseLink>{ $license }</licenseLink>
license-mixed = შერეული

## Record Page

record-platform-not-supported = სამწუხაროდ, თქვენი სისტემა ამჟამად არაა მხარდაჭერილი.
record-platform-not-supported-desktop = სამაგიდო კომპიუტერებზე, შეგიძლიათ ჩამოტვირთოთ უახლესი:
record-platform-not-supported-ios = <bold>iOS</bold> მომხმარებლებს შეუძლიათ ჩამოტვირთონ ჩვენი უფასო პროგრამა:
record-must-allow-microphone = საჭიროა მიკროფონთან წვდომის დაშვება.
record-retry = ხელახლა
record-no-mic-found = მიკროფონი ვერ მოიძებნა.
record-error-too-short = ჩანაწერი ზედმეტად მოკლე იყო.
record-error-too-long = ჩანაწერი ზედმეტად გრძელი იყო.
record-error-too-quiet = ჩანაწერი ზედმეტად ხმადაბალი იყო.
record-submit-success = წარმატებით გადაიგზავნა! გსურთ კვლავ ჩაწერა?
record-help = გთხოვთ, დააჭიროთ ჩაწერას და შემდეგ, ხმამაღლა წაიკითხოთ ზემოთ მოცემული წინადადება.
record-cancel = ჩაწერის გაუქმება
review-terms = Common Voice-ის გამოყენებით, ეთანხმებით ჩვენს <termsLink>პირობებსა</termsLink> და <privacyLink>პირადი მონაცემების დაცვის განაცხადს</privacyLink>
terms-agree = ვეთანხმები
terms-disagree = არ ვეთანხმები
review-aborted = ატვირთვა შეწყვეტილია. გსურთ თქვენი ჩანაწერების წაშლა?
review-submit-title = გადახედვა და გადაგზავნა
review-submit-msg = გმადლობთ ჩანაწერისთვის!<lineBreak></lineBreak>ახლა კი შეგიძლიათ გადახედოთ და გადააგზავნოთ თქვენი ჩაწერილი მონაკვეთები ქვემოთ.
review-recording = გადახედვა
review-rerecord = ხელახლა ჩაწერა
review-cancel = გადაგზავნის გაუქმება
review-keep-recordings = ჩანაწერების დატოვება
review-delete-recordings = ჩემი ჩანაწერების წაშლა

## Download Modal

download-title = თქვენი ჩამოტვირთვა დაწყებულია.
download-helpus = დაგვეხმარეთ ხმოვანი ტექნოლოგიების გარშემო, ერთობის შემოკრებაში, დარჩით კავშირზე ელფოსტის საშუალებით.
download-form-email =
    .label = შეიყვანეთ თქვენი ელფოსტა
    .value = გმადლობთ, აუცილებლად შეგეხმიანებით.
download-back = Common Voice-ის მონაცემთა კრებულებზე დაბრუნება
download-no = არა, გმადლობთ

## Contact Modal

contact-title = დაკავშირება
contact-form-name =
    .label = სახელი
contact-form-message =
    .label = შეტყობინება
contact-required = *აუცილებელია

## Request Language Modal

request-language-title = ენის მოთხოვნა
request-language-form-language =
    .label = ენა
request-language-success-title = ენის მოთხოვნა გადაიგზავნა წარმატებით, გმადლობთ.
request-language-success-content = ჩვენ მალე მოგაწვდით ინფორმაციას, თუ როგორ უნდა დაამატოთ თქვენი ენა Common Voice-ში.

## Languages Overview

language-section-in-progress = მუშავდება
language-section-in-progress-description = ენები, რომლებიც ჯერჯერობით მუშავდება, ჩვენი ერთობის მონაწილეების მიერ წინასწარ მზადდება, რომ მომავალში გახდეს შესაძლებელი ჩანაწერების დამატება; დამუშავების მიმდინარეობა აღნიშნავს, თუ რა დონეზეა საიტის შიგთავსი გადათარგმნილი და წინადადებების საჭირო რაოდენობის რა ნაწილია მოწოდებული.
language-section-launched = გაშვებულია
language-section-launched-description = ენა თუ უკვე გაშვებულია იგულისხმება, რომ საიტი უკვე სრულადაა თარგმნილი, წინადადებებიც საკმარისადაა შეგროვებული და შესაძლებელია ხმის <italic>{ speak }</italic> და <italic>{ listen }</italic>.
languages-show-more = ვრცლად
languages-show-less = შემოკლებულად
language-speakers = მოსაუბრე
language-meter-in-progress = მიმდინარეობა
language-total-progress = სულ
language-search-input =
    .placeholder = ძიება

## New Contribution

action-click = დააწექით
action-tap = დააჭირეთ
contribute = წვლილის შეტანა
listen = მოსმენა
skip = გამოტოვება
shortcuts = მალსახმობები
clips = ჩანაწერი
goal-type-record = ჩაწერა
goal-type-validation = დამოწმება
toward-goal = ესაა Common Voice-ის დღევანდელი { $goalType } მიზნის <goalPercentage></goalPercentage>. გმადლობთ.
goal-help = თქვენ დაეხმარეთ Common Voice-ს, დღიური მიზნის ({ $goalType }) <goalPercentage></goalPercentage>-ის მიღწევაში!
contribute-more = მზად ხართ შეასრულოთ კიდევ { $count }?
record-cta = ჩაწერის დაწყება
record-instruction = { $actionType } <recordIcon></recordIcon> ღილაკს და შემდეგ წაიკითხეთ წინადადება ხმამაღლა
record-stop-instruction = { $actionType } <stopIcon></stopIcon> ღილაკს როცა დაასრულებთ
record-three-more-instruction = სამიღაა დარენილი!
record-again-instruction = მშვენიერია! <recordIcon></recordIcon> გააკეთეთ შემდეგი ჩანაწერი
record-again-instruction2 = ასე განაგრძეთ, კვლავ ჩაწერეთ <recordIcon></recordIcon>
record-last-instruction = <recordIcon></recordIcon> ბოლო!
review-tooltip = აქედან შეგიძლიათ შეამოწმოთ და ხელახლა შექმნათ ჩანაწერები
unable-speak = ვერ ხერხდება ამჟამად, ჩაწერა?
review-instruction = შეამოწმეთ ჩანაწერები ან ხელახლა ჩაწერეთ, თუ საჭიროა
record-submit-tooltip = { $actionType } გადაგზავნას როცა მზად იქნებით
clips-submitted = წარდგენილია { $count } ჩანაწერი!
record-abort-title = ჯერ დასრულდეს ჩაწერა?
record-abort-text = ახლავე დატოვება ნიშნავს რომ დაიკარგება არსებული შედეგი
record-abort-submit = ჩანაწერების გადაგზავნა
record-abort-continue = ჩაწერის დასრულება
record-abort-delete = გამოსვლა და ჩანაწერების წაშლა
listen-instruction = { $actionType } <playIcon></playIcon> სწორად იყო გახმოვანებული წინადადება?
listen-again-instruction = მშვენიერი ნამუშევარია! <playIcon></playIcon> კვლავ მოუსმინეთ, როცა მზად იქნებით
listen-3rd-time-instruction = 2 უკვე მზადაა <playIcon></playIcon>, ასე განაგრძეთ!
listen-last-time-instruction = <playIcon></playIcon> ბოლო!
share-title-new = <bold>დაგვეხმარეთ</bold> ხმების მოძიებაში
