## General

yes-receive-emails = Tak, chcę otrzymywać wiadomości o projekcie Common Voice.
stayintouch = Tworzymy społeczność korzystającą z otwartej technologii głosu. Chcemy dzielić się z wami aktualnościami, nowymi zasobami danych i historiami korzystania z naszych wspólnych osiągnięć.
privacy-info = Obiecujemy szanować Twoje dane. Zapoznaj się z naszymi <privacyLink>zasadami ochrony prywatności</privacyLink>.
return-to-cv = Wróć do Common Voice
email-input =
    .label = E-mail
submit-form-action = Wyślij
loading = Wczytywanie…

# Don't rename the following section, its contents are auto-inserted based on the name (see scripts/pontoon-languages-to-ftl.js)
# [Languages]


## Languages

as = asamski
az = azerski
bn = bengalski
br = bretoński
ca = kataloński
cs = czeski
cv = czuwaski
cy = walijski
da = duński
de = niemiecki
el = grecki
en = angielski
es = hiszpański
et = estoński
fi = fiński
fr = francuski
fy-NL = fryzyjski
ga-IE = irlandzki
he = hebrajski
hsb = górnołużycki
hu = węgierski
id = indonezyjski
is = islandzki
it = włoski
ja = japoński
ka = gruziński
kab = kabylski
kk = kazachski
ko = koreański
kpv = komi (zyriański)
kw = kornijski
ky = kirgiski
mk = macedoński
nb-NO = norweski (bokmål)
ne-NP = nepalski
nl = holenderski
nn-NO = norweski (nynorsk)
or = orija
pl = polski
pt-BR = portugalski (Brazylia)
ro = rumuński
ru = rosyjski
sah = jakucki
sk = słowacki
sl = słoweński
sq = albański
sr = serbski
sv-SE = szwedzki
ta = tamilski
te = telugu
th = tajski
tr = turecki
tt = tatarski
uk = ukraiński
uz = uzbecki
zh-CN = chiński (Chiny)
zh-HK = chiński (Hongkong)
zh-TW = chiński (Tajwan)

# [/]


## Layout

speak = Nagrywaj
speak-now = Wymów teraz
datasets = Zestawy danych
languages = Języki
profile = Profil
help = Pomoc
contact = Kontakt
privacy = Prywatność
terms = Warunki korzystania
cookies = Ciasteczka
faq = Często zadawane pytania
content-license-text = Treść dostępna na warunkach <licenseLink>licencji Creative Commons</licenseLink>
share-title = Zachęć innych do nagrania swojego głosu!
share-text = Pomóż nauczyć komputery, jak mówią prawdziwi ludzie — wspomóż swoim głosem na { $link }
back-top = Powrót na górę

## Home Page

home-title = Projekt Common Voice to inicjatywa Mozilli pomagająca w uczeniu maszyn mowy prawdziwych ludzi.
home-cta = Nagrywaj i pomagaj!
wall-of-text-start = Mowa to dla nas coś naturalnego i ludzkiego. Dlatego tak bardzo fascynuje nas tworzenie systemu rozpoznawania mowy, który mogłyby wykorzystywać maszyny. Ale aby to osiągnąć, potrzeba niezwykle obszernej bazy danych z nagraniami ludzkiej mowy.
wall-of-text-more-mobile = Dane wykorzystywane przez duże firmy są niedostępne dla większości. Uważamy, że to hamuje rozwój. Dlatego uruchomiliśmy projekt Common Voice, który ma sprawić, aby systemy rozpoznawania głosu były dostępne dla każdego.
wall-of-text-more-desktop = Teraz możesz nagrać swój głos i pomóc nam tworzyć bazę danych dostępną dla każdego twórcy innowacyjnych aplikacji.<lineBreak></lineBreak>Otrzymasz do przeczytania zdanie i w ten sposób pomożesz maszynom nauczyć się, jak mówią prawdziwi ludzie. A sprawdzając prace innych przyczynisz się do podnoszenia jakości nagrań. To naprawdę takie proste!
show-wall-of-text = Więcej
help-us-title = Pomóż nam zweryfikować nagrania!
help-us-explain = Odsłuchaj i potwierdź, czy zdanie jest poprawnie wymówione.
no-clips-to-validate = Wygląda na to, że dla tego języka nie ma żadnych nagrań do odsłuchania. Pomóż nam wypełnić kolejkę nagrywając się teraz.
vote-yes = Tak
vote-no = Nie
toggle-play-tooltip = Naciśnij { shortcut-play-toggle }, aby zmienić tryb odtwarzania

## Speak & Listen Shortcuts

# Must be one letter that appears in the translated { skip } string.
shortcut-skip = p

## Listen Shortcuts

# Must be one letter that appears in the translated play-string inside of { shortcut-play-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-play-toggle = o
shortcut-play-toggle-label = Odtwórz/zatrzymaj
# Must be one letter that appears in the { vote-yes } string.
# Must be different from { shortcut-skip }, { shortcut-vote-no } and { shortcut-play-toggle }
shortcut-vote-yes = t
# Must be one letter that appears in the { vote-no } string.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-play-toggle }
shortcut-vote-no = n

## Speak Shortcuts

# Must be one letter that appears in the translated record-string inside of { shortcut-record-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-record-toggle = r
shortcut-record-toggle-label = Nagraj/zatrzymaj
request-language-text = Common Voice nie oferuje jeszcze Twojego języka?
request-language-button = Poproś o dodanie języka

## ProjectStatus

status-title = Stan projektu: zobacz, co osiągnęliśmy!
status-contribute = Nagraj swój głos!
status-hours =
    { $hours ->
        [one] Jedna godzina zweryfikowanych nagrań!
        [few] { $hours } godziny zweryfikowanych nagrań!
       *[other] { $hours } godzin zweryfikowanych nagrań!
    }
# Variables:
# $goal - number of hours representing the next goal
status-goal = Następny cel: { $goal }
english = angielski

## ProfileForm

profile-form-cancel = Wyjdź z formularza
profile-form-delete = Usuń profil
profile-form-username =
    .label = Nazwa użytkownika
profile-form-language =
    .label = Język
profile-form-accent =
    .label = Akcent
profile-form-age =
    .label = Wiek
profile-form-gender =
    .label = Płeć
profile-form-submit-save = Zapisz
profile-form-submit-saved = Zapisane
profile-keep-data = Zachowaj dane
profile-delete-data = Usuń dane
male = Mężczyzna
female = Kobieta
# Gender
other = Inna
why-profile-title = Po co profil?
why-profile-text = Podając pewne informacje o sobie, dane dźwiękowe wysyłane do projektu Common Voice będą bardziej przydatne dla mechanizmów rozpoznawania mowy, które korzystają z tych danych do zwiększenia dokładności.
edit-profile = Edytuj profil
profile-create = Utwórz profil
profile-create-success = Pomyślnie utworzono profil.
profile-close = Zamknij
profile-clear-modal = Wyczyszczenie danych profilu oznacza, że te informacje demograficzne nie będą już wysyłane do projektu Common Voice razem z nagraniami.
profile-explanation = Kontroluj swój postęp za pomocą profilu i pomóż zwiększyć dokładność naszych danych.

## FAQ

faq-title = Często zadawane pytania
faq-what-q = Czym jest Common Voice?
faq-what-a = Technologia rozpoznawania mowy ma szansę zrewolucjonizować sposób, w jakim porozumiewamy się z maszynami, ale niestety obecne rozwiązania są kosztowne i zamknięte. Projekt Common Voice ma na celu udostępnienie tej technologi wszystkim. Osoby dzielące się swoim głosem tworzą wielki zbiór danych, który można wykorzystać do uczenia aplikacji rozpoznawać mowę. Wszystkie nagrania zebrane w projekcie są dostępne dla deweloperów.
faq-important-q = Dlaczego jest to ważne?
faq-important-a = Mowa to dla nas coś naturalnego i ludzkiego. To najłatwiejszy i najbardziej naturalny sposób komunikacji. Chcemy, aby deweloperzy mieli możliwość tworzenia niesamowitych rzeczy, od tłumaczy w czasie rzeczywistym po mówiących asystentów administracyjnych. Ale w tej chwili nie ma wystarczająco publicznie dostępnych danych, aby budować tego typu aplikacje. Mamy nadzieję, że Common Voice da deweloperom to, czego potrzebują do wprowadzania innowacji.
faq-get-q = Jak mogę otrzymać dane z projektu Common Voice?
faq-get-a = Zbiór danych jest dostępny na <downloadLink>stronie pobierania</downloadLink> na warunkach licencji <licenseLink>CC-0</licenseLink>.
faq-mission-q = Dlaczego Common Voice jest częścią misji Mozilli?
faq-mission-a = Celem Mozilli jest Internet otwarty i dostępny dla wszystkich. Aby to osiągnąć, musimy dać siłę twórcom sieci przez projekty, takie jak Common Voice. Technologie rozpoznawania mowy rozwijają się poza pierwotną niszę, a my wierzymy, że muszą one służyć wszystkim użytkownikom po równo. Widzimy potrzebę większej liczby języków, akcentów i grup ludzi podczas budowania i testowania technologii rozpoznawania mowy. Mozilla chce, aby Internet był zdrowy i energiczny. Oznacza to zapewnianie nowym twórcom dostępu do danych mowy, aby mogli budować nowe, niezwykłe projekty. Common Voice będzie publicznym zasobem, który pomoże zespołom Mozilli i deweloperom na całym świecie.
faq-native-q = Język { $lang } nie jest moim ojczystym. Czy mogę pomóc w rozwoju projektu?
faq-native-a = Tak, potrzebujemy również Twojego głosu! Jednym z celów projektu Common Voice jest zebranie różnych akcentów, aby <bold>każdy</bold> mógł się porozumiewać z komputerem.
faq-firefox-q = Czy system rozpoznawania mowy, poprzez Common Voice, zostanie kiedyś częścią Firefoksa?
faq-firefox-a = Common Voice ma nieskończony potencjał, a my badamy interfejsy mowy w wielu produktach Mozilli, także Firefoksie.
faq-quality-q = Jakiej jakości nagrania są potrzebne, aby można je było później wykorzystać?
faq-quality-a = Chcemy, aby jakość dźwięku odzwierciedlała sytuacje, w których używamy systemów rozpoznawania mowy. Oznacza to, że zbieramy bardzo różnorodne dane. Takie podejście pozwoli nauczyć systemy radzić sobie z rozmowami w tle, hałasem samochodów lub wentylatorów z dużą dokładnością — bez błędów.
faq-hours-q = Dlaczego celem projektu jest zgromadzenie 10 000 godzin nagrań?
faq-hours-a = Jest to przybliżona liczba godzin wymagana do uruchomienia systemu rozpoznawania mowy.
faq-source-q = Skąd pochodzi tekst źródłowy?
faq-source-a1 = Rozróżniamy dwa źródła tekstów. Cześć z nich jest tworzona przez użytkowników i udostępniana w ramach współpracy nad projektem. Pozostałe z kolei pochodzą ze źródeł należących do domeny publicznej.
faq-source-a2 = Możesz zobaczyć teksty źródłowe <dataLink>w tym repozytorium GitHub</dataLink>.

## Profile

profile-why-title = Po co profil?
profile-why-content = Dodając informację o sobie, dane zbierane w projekcie Common Voice będą bardziej użyteczne dla systemów rozpoznawania mowy, co może poprawić dokładność wyników.

## NotFound

notfound-title = Nie odnaleziono
notfound-content = Obawiam się, że nie ma tutaj tego, czego szukasz.

## Data

data-download-button = Pobierz dane Common Voice
data-download-yes = Tak
data-download-deny = Nie
data-download-license = Licencja: <licenseLink>CC-0</licenseLink>
data-download-modal = Za chwilę zaczniesz pobierać plik o rozmiarze <size>{ $size } GB</size>, czy chcesz kontynuować?
data-subtitle = Tworzymy otwarty i publicznie dostępny zbiór danych mowy, który wszyscy mogą używać do trenowania aplikacji obsługujących mowę.
data-explanatory-text = Wierzymy, że wielkie i publicznie dostępne zbiory danych z mową będą sprzyjać innowacji i zdrowej konkurencji rynkowej w zakresie technologii rozpoznawania mowy na podstawie nauczania maszynowego. To globalny wysiłek i zapraszamy wszystkich do brania udziału. Naszym celem jest, aby technologia rozpoznawania mowy była bardziej inkluzywna, odzwierciedlając różnorodność głosów na całym świecie.
data-get-started = <speechBlogLink>Pierwsze kroki z rozpoznawaniem mowy</speechBlogLink>
data-other-title = Inne zbiory danych…
data-other-goto = Przejdź do { $name }
data-other-download = Pobierz dane
data-other-librispeech-description = LibriSpeech to zbiór około 1000 godzin angielskiej mowy w jakości 16 KHz, z tekstów audiobooków z projektu LibriVox.
data-other-ted-name = Zbiór TED-LIUM
data-other-ted-description = Zbiór TED-LIUM został utworzony z nagrań przemów i ich transkrypcji dostępnych na stronie konferencji TED.
data-other-voxforge-description = VoxForge został stworzony w celu zbierania transkrybowanej mowy do użytku z wolnymi i otwartymi silnikami rozpoznawania mowy.
data-other-tatoeba-description = Tatoeba jest wielką bazą danych zdań, tłumaczeń i mowy do użytku w nauczaniu maszynowym. Ten plik zawiera wszystkie angielskie nagrania mowy stworzone przez ich społeczność.
data-bundle-button = Pobierz zestaw danych
data-bundle-description = Dane Common Voice ze wszystkimi innymi zbiorami danych powyżej.
license = Licencja: <licenseLink>{ $license }</licenseLink>
license-mixed = Mieszana

## Record Page

record-platform-not-supported = Przepraszamy, używana platforma nie jest obecnie obsługiwana.
record-platform-not-supported-desktop = Na komputerze można pobrać najnowszą wersję:
record-platform-not-supported-ios = Użytkownicy <bold>iOS</bold> mogą pobrać bezpłatną aplikację:
record-must-allow-microphone = Musisz zezwolić na dostęp do mikrofonu.
record-retry = Ponów
record-no-mic-found = Nie odnaleziono mikrofonu.
record-error-too-short = Nagranie jest za krótkie.
record-error-too-long = Nagranie jest za długie.
record-error-too-quiet = Nagranie jest za ciche.
record-submit-success = Pomyślnie wysłano! Kontynuować nagrywanie?
record-help = Naciśnij, aby rozpocząć, a następnie przeczytaj powyższe zdanie.
record-cancel = Anuluj nagrywanie
review-terms = Korzystając z Common Voice, zgadzasz się na <termsLink>warunki korzystania</termsLink> i <privacyLink>zasady ochrony prywatności</privacyLink>
terms-agree = Zgadzam się
terms-disagree = Nie zgadzam się
review-aborted = Przerwano wysyłanie. Czy chcesz usunąć swoje nagrania?
review-submit-title = Zweryfikuj i wyślij
review-submit-msg = Dziękujemy za nagranie!<lineBreak></lineBreak>Teraz zweryfikuj i wyślij swoje nagrania poniżej.
review-recording = Zweryfikuj
review-rerecord = Nagraj ponownie
review-cancel = Anuluj wysyłanie
review-keep-recordings = Zachowaj nagrania
review-delete-recordings = Usuń moje nagrania

## Download Modal

download-title = Rozpoczęto pobieranie.
download-helpus = Pomóż nam budować społeczność wokół technologii rozpoznawania mowy, pozostań z nami w kontakcie przez e-mail.
download-form-email =
    .label = Wpisz adres e-mail
    .value = Dziękujemy, będziemy w kontakcie.
download-back = Wróć do zbiorów danych Common Voice
download-no = Nie, dziękuję

## Contact Modal

contact-title = Formularz kontaktowy
contact-form-name =
    .label = Imię i nazwisko
contact-form-message =
    .label = Wiadomość
contact-required = * wymagane

## Request Language Modal

request-language-title = Poproś o język
request-language-form-language =
    .label = Język
request-language-success-title = Prośba o język została pomyślnie przesłana, dziękujemy.
request-language-success-content = Już niedługo udzielimy więcej informacji o tym, jak dodać swój język do projektu Common Voice.

## Languages Overview

language-section-in-progress = W trakcie
language-section-in-progress-description = Te języki są obecnie przygotowywane do przyjmowania nagrań od naszych społeczności. Ich postęp odzwierciedla poziom etapów lokalizacji witryny i zbierania zdań.
language-section-launched = Działające
language-section-launched-description = Dla tych języków pomyślnie zlokalizowano witrynę i zebrano wystarczającą liczbę zdań, aby umożliwić <italic>{ speak }</italic> i <italic>{ listen }</italic>.
languages-show-more = Więcej
languages-show-less = Mniej
language-speakers = Osoby mówiące
language-meter-in-progress = Postęp
language-total-progress = Razem
language-search-input =
    .placeholder = Szukaj

## New Contribution

action-click = Kliknij
action-tap = Stuknij
contribute = Nagraj
listen = Posłuchaj
skip = Pomiń
shortcuts = Skróty
clips = Nagrania
goal-type-record = nagrywania
goal-type-validation = weryfikowania
toward-goal = To <goalPercentage></goalPercentage> w kierunku dzisiejszego celu { $goalType } projektu Common Voice. Dziękujemy
goal-help = Twój udział pomógł projektowi Common Voice osiągnąć <goalPercentage></goalPercentage> dziennego celu { $goalType }!
contribute-more = Zrobimy jeszcze { $count }?
record-cta = Zacznij nagrywanie
record-instruction = { $actionType } <recordIcon></recordIcon>, a następnie przeczytaj to zdanie
record-stop-instruction = { $actionType } <stopIcon></stopIcon> po ukończeniu
record-three-more-instruction = Zostały trzy!
record-again-instruction = Świetnie! <recordIcon></recordIcon> Nagraj następne zdanie
record-again-instruction2 = Tak trzymaj, nagraj jeszcze raz <recordIcon></recordIcon>
record-last-instruction = <recordIcon></recordIcon> Ostatnie!
review-tooltip = Weryfikuj i ponownie nagrywaj w czasie pracy
unable-speak = Nie można teraz wymówić zdania
review-instruction = Weryfikuj i ponownie nagrywaj w razie potrzeby
record-submit-tooltip = { $actionType } „Wyślij” po ukończeniu
clips-submitted =
    { $count ->
        [one] Wysłano { $count } nagranie!
        [few] Wysłano { $count } nagrania!
       *[other] Wysłano { $count } nagrań!
    }
record-abort-title = Najpierw dokończyć nagrywanie?
record-abort-text = Wyjście teraz oznacza utratę postępów
record-abort-submit = Wyślij nagrania
record-abort-continue = Dokończ nagrywanie
record-abort-delete = Wyjdź i usuń nagrania
listen-instruction = { $actionType } <playIcon></playIcon> czy poprawnie wymówiono zdanie?
listen-again-instruction = Świetna robota! <playIcon></playIcon> Posłuchaj ponownie
listen-3rd-time-instruction = Dwa zrobione <playIcon></playIcon>, tak trzymaj!
listen-last-time-instruction = <playIcon></playIcon> Ostatnie!
share-title-new = <bold>Pomóż nam</bold> znaleźć więcej głosów
