## General

yes-receive-emails = Haj, sćelće mi mejlki. Bych rady wo projekće Common Voice na běžnym wostał.
stayintouch = My pola Mozilla twarimy zhromadźenstwo wokoło hłosoweje technologije. Bychmy rady z aktualizacijemi, žórłami nowych datow w zwisku wostać a wjace wo tym słyšeli, kak tute daty wužiwaće.
privacy-info = Lubimy wam, z wašimi informacijemi starosćiwje wobchadźeć. Čitajće wjace w našej <privacyLink>zdźělence priwatnosće</privacyLink>.
return-to-cv = Wróćo k Common Voice
email-input =
    .label = E-mejlowa adresa
submit-form-action = Wotpósłać
loading = Čita so…

# Don't rename the following section, its contents are auto-inserted based on the name (see scripts/pontoon-languages-to-ftl.js)
# [Languages]


## Languages

as = Asamšćina
az = Azerbajdźanšćina
bn = Bengalšćina
br = Bretonšćina
ca = Katalanšćina
cs = Čěšćina
cv = Čuwašćina
cy = Walizišćina
da = Danšćina
de = Němčina
el = Grjekšćina
en = Jendźelšćina
es = Španišćina
et = Estnišćina
fi = Finšćina
fr = Francosćina
fy-NL = Frizišćina
ga-IE = Iršćina
he = Hebrejšćina
hsb = Hornjoserbšćina
hu = Madźaršćina
id = Indonešćina
is = Islandšćina
it = Italšćina
ja = Japanšćina
ka = Georgišćina
kab = Kabylšćina
kk = Kazachšćina
ko = Korejšćina
kpv = Komi-syrjenšćina
kw = Kornišćina
ky = Kirgišćina
mk = Makedonšćina
nb-NO = Norwegski Bokmål
ne-NP = Nepalšćina
nl = Nižozemšćina
nn-NO = Norwegski Nynorsk
or = Odiašćina
pl = Pólšćina
pt-BR = Portugalšćina (Brazilska)
ro = Rumunšćina
ru = Rušćina
sah = Sachašćina
sk = Słowakšćina
sl = Słowjenšćina
sq = Albanšćina
sr = Serbišćina
sv-SE = Šwedšćina
ta = Tamilšćina
te = Telugušćina
th = Thaišćina
tr = Turkowšćina
tt = Tataršćina
uk = Ukrainšćina
uz = Uzbekšćina
zh-CN = Chinšćina (China)
zh-HK = Chinšćina (Hong Kong)
zh-TW = Chinšćina (Taiwan)

# [/]


## Layout

speak = Rěčeć
speak-now = Rěčće nětko
datasets = Datowe sadźby
languages = Rěče
profile = Profil
help = Pomoc
contact = Kontakt
privacy = Priwatnosć
terms = Wuměnjenja
cookies = Placki
faq = HUP
content-license-text = Wobsah je k dispoziciji pod <licenseLink>licencu Creative Commons</licenseLink>
share-title = Pomhajće nam, dalšich namakać, kotřiž swój hłós daruja!
share-text = Pomhajće mašinam wučić, kak ludźo rěča, darće swój hłós an { $link }
back-top = Wróćo horje

## Home Page

home-title = Projekt Common Voice je iniciatiwa Mozilla, kotraž ma pomhać, mašinam wučić, kak woprawdźići ludźo rěča.
home-cta = Rěčće runjewon, dźěłajće tu sobu!
wall-of-text-start = Hłós je přirodny, hłós je čłowjeski. Tohodla smy fascinowani, wužitnu hłosowu technologiju za naše mašiny wutworić. Ale, za wutworjenje hłosowych systemow je jara wulke mnóstwo hłosowych datow trěbne.
wall-of-text-more-mobile = Najwjace datow wužiwane wot wulkich předewzaćow za wjetšinu ludźi přistupne njeje. Myslimy, zo to inowaciju znjemóžnja. Tohodla smy projekt Common Voice startowali, projekt, kotryž kóždemu spóznawanje hłosow spřistupnja.
wall-of-text-more-desktop = Nětko móžeće swój hłós dać, zo byšće nam pomhał, datowu banku hłosow wotewrjeneho žórła natwarić, kotruž kóždy móže wužiwać, zo by inowatiwne nałoženja za graty a web wutworił.<lineBreak></lineBreak>Čitajće sadu, zo byšće mašinam pomhał, wuknyć, kak woprawdźići ludźo rěča. Kontrolujće dźěło druhich sobuskutkowarjow, zo byšće kwalitu polěpšił. Je tak lochko!
show-wall-of-text = Dalše informacije
help-us-title = Pomhajće nam, sady wobkrućić!
help-us-explain = Tłóčće na Wothrać, słuchajće a zdźělće nam: je so slědowaca sada korektnje wurjekowała?
no-clips-to-validate = Zda so, kaž njebychu žane natočenja byli, na kotrež móžeće w tutej rěči słuchać. Natočće nětko někotre nowe, zo byšće nam pomhał, čakanski rynk pjelnić.
vote-yes = Haj
vote-no = Ně
toggle-play-tooltip = Tłóčće na { shortcut-play-toggle }, zo byšće wothrawanski modus přepinał

## Speak & Listen Shortcuts

# Must be one letter that appears in the translated { skip } string.
shortcut-skip = s

## Listen Shortcuts

# Must be one letter that appears in the translated play-string inside of { shortcut-play-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-play-toggle = t
shortcut-play-toggle-label = Wothrać/Zastajić
# Must be one letter that appears in the { vote-yes } string.
# Must be different from { shortcut-skip }, { shortcut-vote-no } and { shortcut-play-toggle }
shortcut-vote-yes = h
# Must be one letter that appears in the { vote-no } string.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-play-toggle }
shortcut-vote-no = n

## Speak Shortcuts

# Must be one letter that appears in the translated record-string inside of { shortcut-record-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-record-toggle = o
shortcut-record-toggle-label = Natočić/Zastajić
request-language-text = Waša rěč hišće na Common Voice njeje?
request-language-button = Rěč požadać

## ProjectStatus

status-title = Projektowy status dohromady: hlejće, štož smy hižo docpěli!
status-contribute = Přinošujće swój hłós
status-hours =
    { $hours ->
        [one] Dotal { $hours } wobkrućena hodźina!
        [two] Dotal { $hours } wobkrućenej hodźinje!
        [few] Dotal { $hours } wobkrućene hodźiny!
       *[other] Dotal { $hours } wobkrućenych hodźin!
    }
# Variables:
# $goal - number of hours representing the next goal
status-goal = Přichodny cil: { $goal }
english = Jendźelšćina

## ProfileForm

profile-form-cancel = Formular začinić
profile-form-delete = Profil zhašeć
profile-form-username =
    .label = Wužiwarske mjeno
profile-form-language =
    .label = Rěč
profile-form-accent =
    .label = Akcent
profile-form-age =
    .label = Staroba
profile-form-gender =
    .label = Splah
profile-form-submit-save = Składować
profile-form-submit-saved = Składowany
profile-keep-data = Daty wobchować
profile-delete-data = Daty zhašeć
male = Muski
female = Źónski
# Gender
other = Druhe
why-profile-title = Čehodla profil?
why-profile-text = Dajće nam někotre informacije wo sebi, zo bychu awdiodaty, kotrež na Common Voice sćeleće, wužitniše byli, zo by so dokładnosć systemow rěčenskeho spóznaća polěpšiła.
edit-profile = Profil wobdźěłać
profile-create = Profil załožić
profile-create-success = Profil je so wuspěšnje załožił!
profile-close = Začinić
profile-clear-modal = Hdyž swoje profilowe daty zhašeće, so tute demografiske informacije hižo na Common Voice hromadźe z natočenjemi njepósćelu.
profile-explanation = Z profilom móžeće swój pokrok we wóčku wobchować a pomhać, naše hłosowe daty dokładniše činić.

## FAQ

faq-title = Huste prašenja
faq-what-q = Što je Common Voice?
faq-important-q = Čehodla je wažny?
faq-get-q = Kak móžu so k datam Common Voice dóstać?
faq-get-a = Datowa sadźba je nětko na našej <downloadLink>sćehnjenskej stronje</downloadLink> pod licencu <licenseLink>CC-0</licenseLink> k dispoziciji.
faq-mission-q = Čehodla je Common Voice dźěl misije Mozilla?
faq-native-q = { $lang } moja maćeršćina njeje a rěcu z akcentom, chceće mój hłós?
faq-firefox-q = Budźe něhdy přenjesenje rěčenja do teksta přez Common Voice dźěl Firefox?
faq-firefox-a = Common Voice ma njewobmjezowany potencial a wuslědźamy woprawdźe rěčenske zwjazowanske městna we wjele produktach Mozilla, inkluziwnje Firefox.
faq-quality-q = Kajka je trěbna kwalita za awdio, zo by so wužiwało?
faq-hours-q = Čehodla je 10.000 hodźin cil za zynkowe natočenja?
faq-hours-a = To je přibližnje ličba hodźin, kotrež su trěbne, zo by produktiwny system rěčenskeho spóžnaća trenowało.
faq-source-q = Zwotkel žórłowy tekst přińdźe?
faq-source-a2 = Móžeće sej naše žórłowe sady w <dataLink>tutym rjadowaku GitHub</dataLink> wobhladać.

## Profile

profile-why-title = Čehodla profil?

## NotFound

notfound-title = Njenamakany
notfound-content = Boju so, njewěm, za čimž pytaće.

## Data

data-download-button = Daty Common Voice sćahnyć
data-download-yes = Haj
data-download-deny = Ně
data-download-license = Licenca: <licenseLink>CC-0</licenseLink>
data-download-modal = Chceće <size>{ $size }GB</size> sćahnyć, chceće pokročować?
data-get-started = <speechBlogLink>Prěnje kroki z rěčenskim spóznaćom</speechBlogLink>
data-other-title = Druhe hłosowe datowe sadźby…
data-other-goto = K { $name }
data-other-download = Daty sćahnyć
data-other-ted-name = Korpus TED-LIUM
data-bundle-button = Paket datowych sadźbow sćahnyć
data-bundle-description = Daty Common Voice plus wšě druhe hłosowe datowe sadźby horjeka.
license = Licenca: <licenseLink>{ $license }</licenseLink>
license-mixed = Měšany

## Record Page

record-platform-not-supported = Je nam žel, ale waša platforma so tuchwilu njepodpěruje.
record-platform-not-supported-desktop = Na desktopowych ličakach móžeće najnowšu wersiju sćahnyć:
record-platform-not-supported-ios = Wužiwarjo <bold>iOS</bold> móža naše darmotne nałoženje sćahnyć:
record-must-allow-microphone = Dyrbiće přistup na mikrofon dowolić.
record-retry = Hišće raz spytać
record-no-mic-found = Žadyn mikrofon namakany.
record-error-too-short = Natočenje bě překrótke.
record-error-too-long = Natočenje bě předołhe.
record-error-too-quiet = Natočenje bě přećiche.
record-submit-success = Wotpósłanje wuspěšne! Chceće znowa natočić?
record-help = Prošu podótkńće so Natočić a předčitajće wótře hornju sadu.
record-cancel = Zasonatočenje přetorhnyć
terms-agree = Sym přezjedny
terms-disagree = Njejsym přezjedny
review-aborted = Nahraće přetorhnjene. Chceće swoje natočenja zhašeć?
review-submit-title = Přepruwować a wotpósłać
review-recording = Přepruwować
review-rerecord = Znowa natočić
review-cancel = Wótpósłanje přetorhnyć
review-keep-recordings = Natočenja wobchować
review-delete-recordings = Natočenja zhašeć

## Download Modal

download-title = Waše sćehnjenje je so započało.
download-form-email =
    .label = E-mejlowu adresu zapodać
    .value = Wulki dźak, wostawamy w zwisku.
download-back = Wróćo k datowym sadźbam Common Voice
download-no = Ně, dźakuju so

## Contact Modal

contact-title = Kontaktny formular
contact-form-name =
    .label = Mjeno
contact-form-message =
    .label = Powěsć
contact-required = *trěbny

## Request Language Modal

request-language-title = Rěč požadać
request-language-form-language =
    .label = Rěč
request-language-success-title = Źadanje wo rěč je so wuspěšnje wotpósłało, wulki dźak.

## Languages Overview

language-section-in-progress = Běži
language-section-launched = Startowany
languages-show-more = Wjace pokazać
languages-show-less = Mjenje pokazać
language-speakers = Rěčnicy
language-meter-in-progress = Postup
language-total-progress = Dohromady
language-search-input =
    .placeholder = Pytać

## New Contribution

action-click = Kliknyć
action-tap = Podótknyć so
contribute = Sobu dźěłać
listen = Słuchać
skip = Přeskočić
shortcuts = Skrótšenki
clips = Klipy
goal-type-record = natočenje
goal-type-validation = přepruwowanje
toward-goal = To je <goalPercentage></goalPercentage> bliše dźensnišemu cilej Common Voice{ $goalType }. Wulki dźak.
goal-help = Sće Common Voice pomhał, <goalPercentage></goalPercentage> jeho dnjoweho cila { $goalType } docpěć!
contribute-more =
    { $count ->
        [one] Sće hotowy, hišće { $count } dalše činić?
        [two] Sće hotowy, hišće { $count } dalšej činić?
        [few] Sće hotowy, hišće { $count } dalše činić?
       *[other] Sće hotowy, hišće { $count } dalšich činić?
    }
record-cta = Natočenje startować
record-instruction = { $actionType } <recordIcon></recordIcon> a předčitajće sadu wótře
record-stop-instruction = { $actionType } <stopIcon></stopIcon> hdyž sće hotowy
record-three-more-instruction = Hišće tři!
record-again-instruction = Wulkotne! <recordIcon></recordIcon> Natočće swój přichodny klip
record-again-instruction2 = Dale tak, <recordIcon></recordIcon> znowa natočić
record-last-instruction = <recordIcon></recordIcon> Poslednje!
review-tooltip = Tu móžeće klipy přepruwować a znowa natočić
unable-speak = Njemóžeće runje rěčeć?
review-instruction = Klipy přepruwować a znowa natočić, jeli trěbne
record-submit-tooltip = { $actionType } wotpósłać, hdyž sće hotowy
clips-submitted =
    { $count ->
        [one] { $count } natočenje wótpósłane
        [two] { $count } natočeni wótpósłanej
        [few] { $count } natočenja wótpósłane
       *[other] { $count } natočenjow wótpósłane
    }
record-abort-title = Chceće natočenje najprjedy dokónčić?
record-abort-text = Jeli nětko přetorhnjeće, so waš postup zhubi
record-abort-submit = Natočenja wotpósłać
record-abort-continue = Natočenje dokónčić
record-abort-delete = Natočenja skónčić a zhašeć
listen-instruction = { $actionType } <playIcon></playIcon> je so sada korektnje wurjekowała?
listen-again-instruction = Wulkotne dźěło! <playIcon></playIcon> Słuchajće znowa, hdyž sće hotowy
listen-3rd-time-instruction = 2 sčinjenej, <playIcon></playIcon> dale tak!
listen-last-time-instruction = <playIcon></playIcon> Poslednje!
share-title-new = <bold>Pomhajće nam</bold>, dalše hłosy namakać
