## General

yes-receive-emails = అవును, నాకు ఈమెయిళ్ళు పంపండి. నేను Common Voice ప్రాజెక్ట్ గురించి తెలుసుకోవాలనుకుంటున్నాను.
stayintouch = Mozilla వద్ద మేము వాయిస్ సాంకేతికాల చుట్టూ ఒక సమూహాన్ని రూపొందిస్తున్నాము. మేము సదా మీతో అందుబాటులో ఉంటూ మీ నుండి తాజా సమాచారం, కొత్త వనరులు, మీరు ఈ డేటాను ఎలా వాడదలుచుకున్నారో లాంటి విషయాల గురించి తెలుసుకోవాలనుకుంటున్నాము.
privacy-info = మేము మీ సమాచారాన్ని అతి జాగ్రత్తతో చూసుకుంటామని హామీ ఇస్తున్నాము. మరింత తెలుసుకునేందుకు మా <privacyLink>ప్రివసీ నోటీసు</privacyLink>ను చదవండి.
return-to-cv = కామన్ వాయిస్‌కు తిరిగి వెళ్ళు
email-input =
    .label = ఈమెయిలు
submit-form-action = సమర్పించు
loading = లోడవుతున్నది...

# Don't rename the following section, its contents are auto-inserted based on the name (see scripts/pontoon-languages-to-ftl.js)
# [Languages]


## Languages

as = అస్సామీ
az = అజర్బైజానీ
bn = బెంగాలి
br = బ్రెటోన్
ca = కాటలాన్
cs = చెక్
cv = ఛువాష్
cy = వెల్ష్
da = డానిష్
de = జర్మన్
el = గ్రీకు
en = ఆంగ్లం
es = స్పానిష్
et = ఎస్టోనియన్
fr = ఫ్రెంచ్
fy-NL = ఫ్రిసియన్
ga-IE = ఐరిష్
he = హీబ్రూ
hu = హంగేరియన్
id = ఇండోనేషియన్
it = ఇటాలియన్
ka = జోర్జియన్
kab = కాబిల్
kk = కజక్
ko = కొరియన్
kw = కార్నిష్
mk = మెసడోనియన్
nb-NO = నార్వేజియన్ బొక్మాల్
ne-NP = నేపాలీ
nl = డచ్
nn-NO = నార్వేజియన్ నైనోర్‌స్క్
or = ఒడియా
pl = పోలిష్
pt-BR = పోర్చుగీస్ (బ్రెజిల్)
ro = రొమానియన్
ru = రష్యన్
sah = సాఖా
sk = స్లోవక్
sl = స్లొవేనియన్
sq = అల్బేనియన్
sr = సెర్బియన్
sv-SE = స్వీడిష్
ta = తమిళం
te = తెలుగు
th = థాయ్
tr = టర్కిష్
tt = తతార్
uk = యుక్రేనియన్
uz = ఉజ్బెక్
zh-CN = చైనీస్ (చైనా)
zh-TW = చైనీస్ (తైవాన్)

# [/]


## Layout

speak = మాట్లాడండి
speak-now = ఇప్పుడు మాల్టాడండి
datasets = దత్తాంశసమితులు
languages = భాషలు
profile = ప్రొఫైలు
help = సహాయం
contact = సంప్రదింపులు
privacy = గోప్యత
terms = షరతులు
cookies = కుకీలు
faq = తరచుగా అడిగే ప్రశ్నలు
content-license-text = సమాచారం <licenseLink>క్రియేటివ్ కామన్స్ లైసెన్స్</licenseLink> కింద లభ్యం.
share-title = ఇతరుల కంఠధ్వని మాకు అందేలా సహకరించండి!
share-text = అచ్చం మనుషులు మాట్లాడేలా మట్లాడడానికి యంత్రాలకు సహాయం చేయండి, { $link }లో మీ స్వరం దానం చేయండి.
back-top = తిరిగి పైకి

## Home Page

home-title = Common Voice ప్రాజెక్టు, యంత్రాలు కూడా నిజమైన మనుషుల్లా మాట్లాడేలా వాటికి శిక్షణ ఇచ్చేందుకు Mozilla చేస్తున్న ప్రయత్నం.
home-cta = మాట్లాడండి, ఇక్కడ తోడ్పడండి!
wall-of-text-start = కంఠధ్వని సహజమైనది, కంఠధ్వని మానుషం. అందుకే మా యంత్రాలకు అనుకూలమైన స్వర సాంకేతికాలను రూపొందించడంపై మేము అత్యంత ఆసక్తితో ఉన్నాము. కానీ స్వర వ్యవస్థలను ఏర్పరిచేందుకు భారీ స్థాయిలో కంఠధ్వనులు కావాల్సి ఉంది.
wall-of-text-more-mobile = పెద్ద కంపెనీలు వాడే డేటా సాధారణ ప్రజానీకంలో చాలా మందికి అందుబాటులో లేదు. ఇది మార్పును కుంటుబడేలా చేస్తుందని మా భావన. అందుకే మేము కామన్ వాయిస్ ప్రాజెక్టును మొదలుపెట్టాము, ఈ ప్రాజెక్టు ద్వారా కంఠధ్వని నిరూపణ సాంకేతికతలు అందరికీ బహిరంగంగా అందుబాటులోకి వస్తాయి.
wall-of-text-more-desktop =
    మీరిప్పుడు మీ గొంతును దానమిచ్చి మేం బహిరంగ స్వర-నిధి నిర్మించేందుకు తోడ్పడవచ్చు. దీనితో ఎవరైనా వివధ పరికరాలకూ, జాలానికి వినూత్న ఉపకరణాలు తయారు చేయవచ్చు.<lineBreak></lineBreak>
    మనుషులు ఎలా మాట్లాడతారో యంత్రాలు నేర్చుకునేందుకు వాక్యాలను చదివి వినిపించి తోడ్పడండి. నాణ్యతను మెరుగుపరచడానికి ఇతరులు చదివినవాటిని తనిఖీచేయండి. అంతే, తేలికే!
show-wall-of-text = మరింత చదవండి
help-us-title = వాక్యాలు ధృవీకరించడానికి మాకు సహాయం చెయ్యండి!
help-us-explain = ప్లే మీటను నొక్కండి, వినండి & మాకు చెప్పండి; వారు ఈ కింది వాక్యాన్ని సరిగ్గా పలికారా లేదా?
vote-yes = అవును
vote-no = కాదు
toggle-play-tooltip = ప్లే మోడుని ఆన్ లేదా ఆఫ్ చెయ్యడానికి { shortcut-play-toggle } నొక్కండి

## Speak & Listen Shortcuts

# Must be one letter that appears in the translated { skip } string.
shortcut-skip = s

## Listen Shortcuts

# Must be one letter that appears in the translated play-string inside of { shortcut-play-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-play-toggle = p
# Must be one letter that appears in the { vote-yes } string.
# Must be different from { shortcut-skip }, { shortcut-vote-no } and { shortcut-play-toggle }
shortcut-vote-yes = y
# Must be one letter that appears in the { vote-no } string.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-play-toggle }
shortcut-vote-no = n

## Speak Shortcuts

# Must be one letter that appears in the translated record-string inside of { shortcut-record-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-record-toggle = r
request-language-text = ఇంకా కామన్ వాయిస్‍లో మీ భాష కనబడలేదా?
request-language-button = ఒక భాషని అభ్యర్థించండి

## ProjectStatus

status-title = మొత్తం ప్రాజెక్టు స్థితి: మనం ఎంత దూరం వచ్చామో చూడండి!
status-contribute = మీ గొంతును ఇవ్వండి
status-hours =
    { $hours ->
        [one] ఒక ధ్రువీకరించిన గంట ఇప్పటివరకు!
       *[other] { $hours } ఇప్పటివరకు ధ్రువీకరించిన గంటలు!
    }
# Variables:
# $goal - number of hours representing the next goal
status-goal = తర్వాతి లక్ష్యం: { $goal }
english = ఆంగ్లం

## ProfileForm

profile-form-cancel = ఫారం నిష్క్రమించు
profile-form-delete = ప్రొఫైలును తొలగించు
profile-form-username =
    .label = వాడుకరి పేరు
profile-form-language =
    .label = భాష
profile-form-accent =
    .label = యాస
profile-form-age =
    .label = వయస్సు
profile-form-gender =
    .label = లింగం
profile-form-submit-save = భద్రపరచు
profile-form-submit-saved = భద్రపరచబడింది
profile-keep-data = డేటా ఉంచు
profile-delete-data = డేటాను తొలగించు
male = పురుషుడు
female = స్త్రీ
# Gender
other = ఇతర
why-profile-title = ప్రొఫైల్ ఎందుకు?
why-profile-text = మీ గురించి కొంత సమాచారాన్ని ఇవ్వడం వల్ల, కామన్ వాయిస్‌కు మీరు సమర్పించే ఆడియో డేటా, స్పీచ్ రికగ్నిషన్ ఇంజన్లు వాటి ఖచ్చితత్వాన్ని మెరుగుపరచుకోవడంలో బాగా ఉపయోగపడుతుంది.
edit-profile = ప్రొఫైల్‌ను సవరించు
profile-create = ప్రొఫైలు సృష్టింపు
profile-create-success = విజయవంతం, ప్రొఫైల్ సృష్టించబడింది!
profile-close = మూసివేయి
profile-clear-modal = మీ ప్రొఫైల్ డేటాను క్లియర్ చేస్తే, ఇకపై ఈ డెమోగ్రాఫిక్ సమాచారం మీ క్లిప్ రికార్డింగులతో కామన్ వాయిస్‌కు సమర్పించబడదు.

## FAQ

faq-title = తరచూ అడిగే ప్రశ్నలు
faq-what-q = కామన్ వాయిస్ అంటే ఏమిటి?
faq-what-a = వాయిన్ రికగ్నిషన్ టెక్నాలజీ మనం యంత్రాలతో పనిచేసే తీరుని విప్లవాత్మకంగా మార్చివేయగలదు, కానీ ప్రస్తుతం అందుబాటులో ఉన్న వ్యవస్థలు ఖరీదైనవి, ప్రైవేటువి. ప్రతీ ఒక్కరికీ వాయిస్ రికగ్నిషన్ టెక్నాలజీ తేలికగా అందుబాటులో ఉండేలా చూసే ప్రాజెక్టే ఈ కామన్ వాయిస్ అందరూ తేలికగా త్వరగా వాక్-చేతన అనువర్తనాలకు శిక్షణ ఇవ్వడానికి వీలుకల్పించే భారీ డేటాబేసుకి ప్రజలు తమ గొంతులను దానమిస్తారు. ఈ మాటల డేటా అంతా డెవలపర్లకి అందుబాటులో ఉంటుంది.
faq-important-q = ఇది ఎందుకు ముఖ్యమైనది?
faq-important-a = మాటలు సహజం, మాట్లాడటం మానవీయం. సంభాషించడానికి ఇది అత్యంత తేలికైన సహజమైన మార్గం. ప్రత్యక్ష యంత్రానువాదకుల నుండి మాటలకు పలికే సహాయకుల వరకూ ఎన్నో అద్భుతమైన వస్తువులను డెవలపర్లు నిర్మించాలని మేం కోరుకుంటున్నాం. కానీ, ఇలాంటి అనువర్తనాలకు తయారుచేయడానికి తగినంత డేటా బహిరంగంగా అందుబాటులో లేదు. డెవలపర్లు నవకల్పనలు చేయడానికి కావలసిన వాటిని కామన్ వాయిస్ ఇస్తుందని ఆశిస్తున్నాం.
faq-get-q = నేను కామన్ వాయిస్ డేటాను ఎలా పొందగలను?
faq-get-a = ఈ డేటాసెట్ ఇప్పుడు మా <downloadLink>దింపుకోలో పేజీలో</downloadLink>, <licenseLink>CC-0</licenseLink> లైసెన్సు కింద అందుబాటులో ఉంది.
faq-mission-q = మొజిల్లా ఆశయంలో కామన్ వాయిస్ ఎందుకు భాగం?
faq-mission-a = జాలాన్ని బహిరంగంగానూ ప్రతిఒక్కరికీ అందుబాటులో ఉంచడానికీ మొజిల్లా అంకితం అయింది. అందుకు కామన్ వాయిస్ వంటి ప్రాజెక్టుల ద్వారా వెబ్ సృష్టికర్తలను శక్తివంతం చేయాలి. వాయిస్ టెక్నాలజీస్ సముచిత అనువర్తనాలకు మించి విస్తరించడంతోపాటు, అవి అందరు వాడుకరులకు సమానంగా సేవచేయాలని మేము నమ్ముతున్నాము.  వాయిస్ టెక్నాలజీని నిర్మించి పరీక్షిస్తున్నప్పుడు ఎక్కువ భాషలు, స్వరాలు మరియు  ప్రాంతీయ వివరాలు చేర్చవలసిన అవసరం ఉంది. మొజిల్లా ఆరోగ్యవంతమైన, శక్తివంతమైన అంతర్జాలాన్ని చూడాలనుకుంటోంది. అంటే కొత్త సృష్టికర్తలకు వాయిస్ డేటాను అందించడం, అందువల్ల వారు కొత్త, అసాధారణమైన ప్రాజెక్టలను రూపొందించగలరు. ప్రపంచవ్యాప్తంగా మొజిల్లా జట్లుకు డెవలపర్లకు సహాయపడే ప్రజా వనరుగా కామన్ వాయిస్ ఉంటుంది.
faq-native-q = నేను అన్య ప్రాంత { $lang }  వ్యవహర్తను  మరియు నేను యాసతో మాట్లాడుతున్నాను, అయిప్పటికీ నా స్వరం  కోరుకుంటున్నావా?
faq-native-a = అవును, మాకు ఖచ్చితంగా మీ గొంతు కావాలి! సాధ్యమైనంత ఎక్కువ యాసలను సేకరించటం  కామన్ వాయిస్ లక్ష్యాలలో ఒకటి, తద్వారా <bold>ప్రతి ఒక్కరూ</ bold> మాట్లాడినదాన్ని కంప్యూటర్లు మెరుగ్గా అర్థం చేసుకోగలుగుతాయి.
faq-firefox-q = కామన్ వాయిస్ ద్వారా మాట-నుండి-పాఠ్యం ఎప్పటికైనా Firefoxలో భాగం అవుతుందా?
faq-firefox-a = కామన్ వాయిస్‌కి అపరిమిత సామర్థ్యం ఉంది. నిజానికి మేము మొజిల్లా ఉత్పత్తులలో, ఫైర్‌ఫాక్స్‌తో సహా, స్పీచ్ ఇంటర్‌ఫేసులను ఎలా వాడచ్చో చూస్తున్నాం.
faq-quality-q = వాడే క్రమంలో ఆడియో కోసం అవసరమైన నాణ్యతా స్థాయి ఏమిటి?
faq-quality-a = మీ ఆడియో నాణ్యత మామూలుగా వాక్కు-నుండి-పాఠ్యం యంత్రం ఎటువంటి నాణ్యతను చూస్తుందో అలానే ఉండాలనుకుంటున్నాం. అంటే, మాకు వైవిధ్యం కావాలి. ఇది వాక్కు-నుండి-పాఠ్యం యంత్రానికి పలు సందర్భాలలో—వెనకాల మాటలు, కారు చప్పుడు, ఫ్యాను చప్పుడు—పొరపాట్లు లేకుండా ఎలా సంభాళించాలో నేర్పుతుంది.
faq-hours-q = ఎందుకని 10,000 గంటల పాటు ఆడియో నిడివి ఉండాలని లక్ష్యం చేసుకున్నాము?
faq-hours-a = ఎందుకంటే ఒక మాట-నుండి-పాఠ్య వ్యవస్థకు నేర్పేందుకు దాదాపుగా అన్ని గంటల నిడివి ఉన్న ఆడియో కావాలి.
faq-source-q = మూల పాఠ్యము ఎక్కడ నుండి వస్తోంది?
faq-source-a1 = ప్రస్తుత వాక్యాలు ఔత్సాహికుల దానాల నుండీ, <italic>ఇట్స్ ఎ వండర్‌ఫుల్ లైఫ్</italic> వంటి సార్వజనీన సినిమా స్క్రిప్టు సంభాషణల నుండీ వచ్చాయి.
faq-source-a2 = మీరు <dataLink> ఈ GitHub ఫోల్డర్ </ dataLink> లో మా మూల వ్యాక్యాలు చూడవచ్చు.

## Profile

profile-why-title = ప్రొఫైల్ ఎందుకు?
profile-why-content = మీ గురించి అందించే కొంత సమాచారం మీరు కామన్ వాయిస్‌కు సమర్పించే ఆడియో డేటా స్పీచ్ రికగ్నిషన్ ఇంజిన్ల ఖచ్చితత్వాన్ని మెరుగుపరచడానికి బాగా ఉపయోగపడేలా చేస్తుంది.

## NotFound

notfound-title = కనబడలేదు
notfound-content = మీరు వెతుకుతున్నది నాకు తెలియదని నేను భయపడుతున్నాను.

## Data

data-download-button = కామన్ వాయిస్ డేటాను దింపుకోండి
data-download-yes = అవును
data-download-deny = కాదు
data-download-license = లైసెన్సు: <licenseLink>సీసీ-0</licenseLink>
data-download-modal = మీరు <size> { $size } GB </ size> గల దింపుకోలు ప్రారంభించబోతున్నారు, కొనసాగాలా ?
data-subtitle = వాక్-చేతన అనువర్తనాలకు నేర్పడానికి ఎవరైనా వాడుకొనగలిగేలా బహిరంగంగా స్వేచ్ఛగా అందుబాటులో ఉండే స్వరనిధిని మేము తయారుచేస్తున్నాం.
data-explanatory-text = బహిరంగంగా అందుబాటులో ఉండే పెద్ద స్వరనిధులు మెషిన్-లెర్నింగ్ ఆధారిత స్పీచ్ టెక్నాలజీలో విన్నూత్నీకరణలను, ఆరోగ్యకరమైన వాణిజ్య పోటీని ప్రోత్సహిస్తాయని మేము నమ్ముతున్నాము. ఇది ప్రపంచవ్యాప్త కృషి, దీనిలో పాల్గొనమని అందరినీ ఆహ్వానిస్తున్నాం. స్వీచ్ టెక్నాలజీ మరింత కలుపుగోలుగా, లోకంలోని వైవిధ్యమైన స్వరాలను ప్రతిబింబించేలా తోడ్పడటం మా లక్ష్యం 
data-get-started = <speechBlogLink>స్పీచ్ రికగ్నిషన్‌ మొదలుపెట్టండి</speechBlogLink>
data-other-title = ఇతర వాయిస్ డేటాసెట్లు...
data-other-goto = { $name }కు వెళ్ళండి
data-other-download = డేటాను దింపుకోండి
data-other-librispeech-description = LibriSpeech అనేది లిబ్రివోక్స్ ప్రాజెక్టు వారి ఆడియో పుస్తకాలు చదవగా తయారైన సుమారు 1000 గంటల 16Khz ఆంగ్ల ప్రసంగ నిధి.
data-other-ted-name = TED-LIUM కార్పస్
data-other-ted-description = TED-LIUM నిధి TED వెబ్‌సైటులో అందుబాటులో ఉన్న ప్రసంగాలు, వాటి రాతప్రతుల నుండి తయారుచేయబడింది.
data-other-voxforge-description = VoxForge ను లిఖిత ప్రసంగాలను సేకరించడానికి ఏర్పాటు చేశారు ఇది ఉచిత మరియు ఓపెన్ సోర్స్ స్పీచ్ రికగ్నిషన్ ఇంజిన్లతో ఉపయోగం కోసం.
data-other-tatoeba-description = Tatoeba అనేది భాష నేర్చుకోవటంలో వాడే వాక్యాలు, అనువాదాలు మరియు మాటల ఆడియోల పెద్ద డేటాబేసు. ఈ దింపుకోలులో రికార్డు చేసిన మాట్లాడే ఆంగ్లం ఉంది.
data-bundle-button = డేటాసెట్ బండిల్‌ను దింపుకోండి
data-bundle-description = Common Voice డేటా, దానితోపాటు పైన ఉన్న అన్ని ఇతర వాయిస్ డేటాసెట్లు.
license = లైసెన్సు: <licenseLink>{ $license }</licenseLink>
license-mixed = మిశ్రమం

## Record Page

record-platform-not-supported = మమ్మల్ని క్షమించండి, కానీ మీ ప్లాట్ఫాంకి  ప్రస్తుతం మద్దతు లేదు.
record-platform-not-supported-desktop = డెస్కుటాపు కంప్యూటర్లలో, మీరు తాజావి డౌన్లోడ్ చేసుకోవచ్చు:
record-platform-not-supported-ios = <bold>ఐఓఎస్</bold> వాడుకరులు మా ఉచిత అనువర్తనాన్ని దింపుకోవచ్చు:
record-must-allow-microphone = మీరు మైక్రోఫోన్ వినడానికి అనుమతించాలి.
record-retry = తిరిగిప్రయత్నించు
record-no-mic-found = మైక్రోఫోన్ కనుగొనబడలేదు.
record-error-too-short = రికార్డింగ్ చాలా చిన్నగా ఉంది.
record-error-too-long = రికార్డింగ్ చాలా పొడవుగా ఉంది.
record-error-too-quiet = రికార్డింగ్ చాలా నిశ్శబ్దంగా ఉంది.
record-submit-success = విజయవంతంగా సమర్పించబడింది! మళ్ళీ రికార్డ్ చెయ్యాలనుకుంటున్నారా?
record-help = దయచేసి రికార్డు చేయడానికి తాకండి, తర్వాత పైన వాక్యాన్ని గట్టిగా చదవండి.
record-cancel = రీ-రికార్డింగ్‌ను రద్దుచేయి
review-terms = కామన్ వాయస్ వాడటం ద్వారా, మీరు మా <termsLink>నియమాలను</termsLink>, <privacyLink>గోప్యతా ప్రకటన</privacyLink>ను అంగీకరిస్తున్నారు
terms-agree = నేను అంగీకరిస్తున్నాను
terms-disagree = నేను అంగీకరించడం లేదు
review-aborted = ఎక్కింపు మధ్యలో నిలిపివేయబడింది. మీ రికార్డింగులను తొలగించాలనుకుంటున్నారా?
review-submit-title = పరిశీలించి సమర్పించండి
review-submit-msg = రికార్డు చేసినందుకు ధన్యవాదాలు! <lineBreak></lineBreak> ఇప్పుడు క్రింద మీ మాటలను సమీక్షించి సమర్పించండి.
review-recording = సమీక్షించు
review-rerecord = తిరిగి రికార్డ్ చేయి
review-cancel = సమర్పణను రద్దు చేయండి
review-keep-recordings = రికార్డింగులను ఉంచు
review-delete-recordings = నా రికార్డింగులను తొలగించు

## Download Modal

download-title = మీ దింపుకోలు మొదలయింది.
download-helpus = వాయిస్ టెక్నాలజీ చుట్టూ సమూహాన్ని నిర్మించడానికి మాకు సహాయం చేయండి, ఈమెయిలు ద్వారా అందుబాటులో ఉండండి.
download-form-email =
    .label = మీ ఈమెయిలును ఇవ్వండి
    .value = కృతజ్ఢతలు, మేము మిమల్ని కలుస్తుంటాము.
download-back = కామన్ వాయిస్ డేటాసెట్లకు తిరిగి వెళ్ళండి
download-no = అడిగినందుకు ధన్యవాదాలు, వద్దు

## Contact Modal

contact-title = సంప్రదింపు ఫారం
contact-form-name =
    .label = పేరు
contact-form-message =
    .label = సందేశం
contact-required = *తప్పనిసరి

## Request Language Modal

request-language-title = భాష అభ్యర్థన
request-language-form-language =
    .label = భాష
request-language-success-title = భాష అభ్యర్థన విజయవంతంగా సమర్పించబడింది, ధన్యవాదాలు.
request-language-success-content = త్వరలో మీ భాషని కామన్ వాయిస్‌కి ఎలా జోడించాలో అన్న విషయం మీద మరింత సమాచారంతో అందుబాటులో ఉంటాము. 

## Languages Overview

language-section-in-progress = పురోగతిలో ఉన్నవి
language-section-launched = లాంచైనవి
languages-show-more = మరిన్ని చూడండి
languages-show-less = తక్కువ చూడండి
language-speakers = మాట్లాడేవారు
language-meter-in-progress = పురోగతి
language-total-progress = మొత్తం
language-search-input =
    .placeholder = వెతుకు

## New Contribution

action-click = నొక్కండి
action-tap = తాకండి
contribute = తోడ్పడండి
listen = వినండి
skip = దాటవేయి
shortcuts = సత్వరమార్గాలు
clips = క్లిప్‌లు
goal-type-record = రికార్డు చేస్తోంది
goal-type-validation = నిర్ధారీకరణ
record-abort-title = ముందుగా రికార్డింగు ముగిస్తారా?
listen-last-time-instruction = <playIcon></playIcon> చివరిది!
